
:root {
    --nav-color: #222e3a; /* #222e3a 394d5c */
    --header-color: #bdc4c0; /* #888f8b bdc4c0 */
    --nav-text-color: white;
}

body {
    height: 100vh;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
}

#main-content {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
    width: 100%;
    margin-top: 6px;
}

/* main CSS Grid*/

/*Set grid names*/

.main-header {
    grid-area: header;
}
.main-content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.main-footer {
    grid-area: footer;
}

/*Grid wrapper*/

.main-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 48px 1fr;
    grid-template-areas:
            "nav header"
            "nav content";
}

#login-main-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    grid-template-areas:
            "header"
            "content";
}

#login-main-wrapper #main-nav {
    display: none;
}

/*END og GRID*/

#main-nav {
    flex-direction: column;
    height: unset;
}

.main-navlist {
    flex-direction: column;
}

.main-nav .navbar-nav {
    flex-direction: column;
    width: 100%;
}

.main-header {
    background-color: var(--header-color);
}

#main-header-brand {
    color: var(--nav-color);
    font-weight: bold;
}

.main-nav {
    background-color: var(--nav-color);
}

#main-nav button {
    background-color: var(--nav-color);
    border: none;
    width: 100%;
    text-align: left;
}

#main-nav button:hover {
     background-color: gray;
}

#main-nav button:focus {
    border: none;
    font-weight: bold;
    outline: none;
}

#main-nav {
    padding-left: 0;
    padding-right: 0;
}

#UserDropdown, #NotAuthorized {
    text-align: center;
    color: var(--nav-text-color);
}

#logout {
    left: 16px;
    padding: 0;
}

#main-nav .nav-item {
    padding-left: 16px;
    color: var(--nav-text-color);
}

.main-login-content {
    height: 100%;
    background: rgb(0,231,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,33,0.25) 100%),
    url(../images/login-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: rgba(255,255,255,0.5);
    padding: 6px 18px 18px;
    width: 270px;
}

.login-form * {
    width: 100%;
    border: none;
    border-radius: 0;
    text-align: center;
}

.login-submit {
    color: white;
    background-color: #222e3a;
    width: 100%;
    border-radius: 0;
}

.error-content {
    background: rgb(0,231,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,15,0.7) 100%),
    url(../images/error.png);
    background-size: cover;
    color: white;
    padding: 50px;
    height: 100%;
}

.access-denied-content {
    background: rgb(0,231,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,15,0.7) 100%),
    url(../images/accessDenied.jpg);
    background-size: cover;
}

h1 {
    padding-left: 18px;
    padding-top: 8px;
}

table a {
    color: black;
}

.prop-list {
    padding: 8px 20px;
}

.prop-row {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.prop-row * {
    margin-right: 8px;
}

.field-label {
    width: 150px;
}

.field {

}

.navbar {
    height: 54px;
}

#newPrescriptionButtonForm {
    padding: 16px;
}

.select2-selection--single {
    border: 1px solid #ced4da !important;
    height: calc(1.5em + .75rem + 2px) !important;
}

.select2-selection__rendered {
    height: 100% !important;
    padding: .375rem .75rem !important;
}

span.select2 {
    width: 100% !important;
}

.table thead th {
    border-bottom-width: 1px !important;
}

.tableHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#treatmentTypeContainer {
    display: flex;
    height: 100%;
}

