.fc-today {
    background-color: inherit !important;
}

#addItemBtn {
    margin-top: 18px;
}

#newTimeError {
    color: red;
}

#newTimeErrorContainer {
    align-self: flex-end;
}

/*#periodTypeContainer .pattern-type-radio-group {*/
/*    !*vertical-align: sub;*!*/
/*}*/

/*#periodTypeContainer label {*/
/*    margin-left: 4px;*/
/*}*/

/*#everyDays {*/
/*    margin-left: 4px;*/
/*}*/

/*#periodTypeContainer {*/
/*    align-items: baseline;*/
/*}*/